# Ignore everything
*

# Except relevant config files/directories
!.gitignore

# The config directory needs special attention
!.config/
.config/*
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/i3
.config/i3/*
!.config/i3/config

!.vim/colors
!.vim/colors/base16-default.vim
!.vimrc
!.Xresources
!.i3blocks.conf
!.xinitrc
!wallpaper.jpg
